<div class="d-flex align-items-center">
  <h1 class="p-2 w-100">Restaurants List</h1>
  <%= link_to '<i class="fa-solid fa-plus"></i>'.html_safe, new_restaurant_path %>
</div>
<div class="cards">
<% @restaurants.each do |restaurant| %>
  <div class="card">
    <h3><%= restaurant.name %></h3>
    <div><p class="category-card"><%= restaurant.category %></p></div>
    <p><%= link_to "See details", restaurant_path(restaurant), class: "btn"%></p>
    </div>
  <% end %>
</div>
<%= link_to "Add a New Restaurant", new_restaurant_path %>
