<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, label: 'Rating (0-5)', collection: 0..5 %>
  <%= f.submit "Submit review", class: "btn" %>
<% end %>
<br>
<%= link_to "Go back", restaurant_path(@restaurant) %>
